<!-- kosár tartalma felugró ablakban fog megjelenni-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/hambibambi/assets/css/cart.css">
    <title>Document</title>
</head>
<body>
    <div class="cartBox">
        <div class="cart">
            <!-- x gomb amivel bezárjuk-->
            <i class="fa fa-close"></i>
            <h1>Kosár tartalma</h1>
            <!-- táblázat, ahová az adatok kerülnek, amikor hozzá adják a kosárhoz-->
            <table class="kosar"></table>
        </div>
    </div>
</body>
</html>
